/* Write your CSS code here */
.home {
  padding: 20px;
  display: flex;
}
.heading {
  font-size: 80px;
}
.clothes {
  height: 80vh;
}
.paragraph {
  font-size: 30px;
}
.shopnow {
  background-color: #0b69ff;
  color: #ffffff;
  padding: 10px;
  border-width: 0;
  width: 10vw;
  font-size: 15px;
  border-radius: 10px;
}
